body {
    background-color: #948e8e;
    font-family: Arial;
    margin: 0;
}
.image {
    background-color: #2c2c2c;
    padding-top: 30px;

}
.header {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    background-color: #444;
    text-align: center;
    padding: 12px;
}   

.menu a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.menu a:hover {
    text-decoration: underline;
}

.content {
    width: 80%;
    margin: auto;
}

.box {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.box h2 {
    color: #333;
}

.footer {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 30px;
}
